@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-3">
    <div class="info">
            <h2>Ishmael K. Kwayisi</h2>
            <h4>Sophomore/Junior Computer Science Major</h4>
            <p>"I don't believe in the impossible... I believe in work ethic and perserverence."</p>
            <p>Hello there! I am currently in a bachelor's degree program at Southern New Hampshire University!</p>
            <ul>
                <li>Ghanian Heritage</li>
                <li>I have 2 younger siblings</li>
                <li>Favorite Game: The Legend Zelda Ocarina Of Time</li>
                <li>Favorite Athlete: Jeff Gordon</li>
                <li>Currently Watching: Spy X Family</li>
                <li>Graduating 2026</li>
            </ul>
    </div>
    <div class="container mt-5">
            <div class="text-center"></div>
            <p>Click on the <a href="https://www.linkedin.com/in/ishmael-kwayisi-48b5b6294/"> LinkedIn</a> page to learn more about me!</p>
    </div>
    </div>
</div>